/* h1 {
  width: 40%;
  background-color: red;
  display: inline;
  flex-direction: row;
} */

div[role="tablist"] {
  justify-content: flex-end;
  /* width: 50%; */
  background-color: #5f5f5f;
  /* position: absolute; */
}

/* #nav-container {
  position: relative;
  height: 40%;
  background-color: red;
} */

#logo-container {
  position: absolute;
  height: 48px;
  background-color: #5f5f5f;

  /* top: 0; */
}

h1 {
  margin: 0;
  /* color: white; */
}
